.super-mario {
    width: 200px;
    z-index: 1;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    left: 300px;
    position: absolute;
    left: 100px;
  }
  
  .baloon {
    position: absolute;
    left: 500px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 50px;
    top: 400px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 300px;
  }