.super-mario {
    width: 200px;
    z-index: 2;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    left: 300px;
    position: absolute;
    left: 100px;
    z-index: 1;
  }
  
  .baloon {
    position: absolute;
    left: 300px;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 325px;
    top: 120px;
    z-index: 4;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 570px;
    top: 250px;
  }