#cor-lista-ord {
    background-color: yellow;
}

.par {
    color: green;
    font-weight: bolder;
}

.impar {
    text-transform:uppercase;
    font-weight: bolder;
}

h1, h3 {
    color: red;
}

h1 {
    font-size: 40px;
    border-color: black;
    border-style: solid;
}

li {
    font-size: 20px;
}

.font-azul {
    color: blue;
}

.fundo-rosa {
    background-color: pink;
}

#stack:hover {
    color: orange
}

#w3:hover {
    color: green;
}

#mdn:hover {
    color: black;
}

#dev:hover {
    color: yellow;
}

#trybe:hover {
    color: green;
}

#lista-aliados li:hover {
    font-weight: bolder;
}